*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color:#1E1D25;
}
form{
    padding-top: 5%;
    text-align: center;
    margin: 0 30%;
}
form img{
    width: 400px;
    height: 330px;
}
form input{
    margin: 30px 0;
    color: transparent;
    border: 2px solid #000;
}
form h2{
    color: #fff;
}
form .btn{
    background-color: #FF9B05;
    outline: none;
    border: none;
    font-weight: bold;
    width: 200px;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
}
form .btn:hover{
    opacity: 0.8;
    transition: all 0.3s;
}

